*{
    margin: 0;
    box-sizing: border-box;
}

/* General */

.discount{
    position: absolute;
    background-color: red;
    bottom: 5px;
    padding: 3px;
    color: white;
    font-weight: bold;
    font-size: x-small;
    display: none;
}

.sostenibilita{
    position: absolute;
    background-color:#00875a;
    bottom: 5px;
    left: 35px;
    padding: 3px;
    color: white;
    font-weight: bold;
    font-size: x-small;
    display: none;
}

.discount-price{
    font-size: x-small;
    color: rgb(99, 99, 99);
    text-decoration: line-through;
}

.hover-pic{
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}



/* Main */


.row{
    width: 45%;
    margin: 0 auto;
    margin-top: 10px;
}

.cards{
    height: 450px;
    width: calc(100% / 3);
    padding: 0 5px;
    display: inline-block;
}

.foto{
    height: 90%;
    position: relative;
}

.foto .default-pic{
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: inline-block;
    position: relative;
}

.foto::after{
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background-color: rgb(255, 255, 255);
    color: black;
    content: "\2665";
    position: absolute;
    top: 15px;
    right: 2px;
}

/* descrizione prodotto */

.brand{
    margin-top: 10px;
    color: rgb(99, 99, 99);
    font-size: x-small;
}

.name{
    font-weight: bold;
    font-size: small;
}

.price{
    font-size: x-small;
    color: red;
    font-weight: bold;
    display: inline-block;
}

.euro:after{
    content: "\20AC";
}

.lined{
    font-size: x-small;
    color: rgb(99, 99, 99);
    text-decoration: line-through;
}

/* elementi hover */


.cards:hover .discount{
    display: block;
}

.cards:hover .sostenibilita{
    display: block;
}

.cards:hover .hover-pic{
    display: block;
}

.foto:hover::after{
    color: red;
}