*{
    margin: 0;
    box-sizing: border-box;
}

/* General */

.discount{

}

.sostenibilità{

}

.discount-prize{

}

/* Main */

.row{
    width: 40%;
    margin: 0 auto;
    margin-top: 10px;
    border: 1px solid black;
}

.cards{
    height: 450px;
    width: calc(100% / 3);
    padding: 0 5px;
    background-color: aquamarine;
    display: inline-block;
}

.foto{
    height: 80%;
}

.foto .default-pic{
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: inline-block;
}




